<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam placeat cum labore suscipit impedit esse culpa iure quod commodi! Nihil quo perferendis libero maxime quam illo neque velit nisi repellendus.
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam placeat cum labore suscipit impedit esse culpa iure quod commodi! Nihil quo perferendis libero maxime quam illo neque velit nisi repellendus.
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam placeat cum labore suscipit impedit esse culpa iure quod commodi! Nihil quo perferendis libero maxime quam illo neque velit nisi repellendus.
            </p>
        </ul>
    </div>
</div>
