<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FoPerfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luciano G. Fuentes</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Consequuntur quis esse vel, praesentium earum soluta.
                Provident laudantium quaerat repudiandae deleniti officiis.
                Similique accusamus rerum aspernatur nemo impedit.
                Odit quam ipsum.
            </p>
        </span>
    </div>
</div>
